* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	background:  #F5F5DC;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: black;
	background-color: #800000;
	text-align: center;
	border: 1px solid #000000;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}

form {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #000000;
	background: white;
	border-radius: 0px 0px 10px 10px;
}